.gallery {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .img__main {
    width: 100%;
    height: 173px;
    position: relative;
    text-align: left;
    margin-bottom: 4px;
  }
  .img__main_pic {
    width: 100%;
    height: 173px;
  }
  .text {
    width: 167px;
    height: 30px;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    position: absolute;
    line-height: 1.2em;
    top: 19px;
    left: 20px;
  }
  .address {
    color: #a6d6e0;
    text-decoration: none;
    margin-top: 11px;
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    top: 53px;
    left: 21px;
  }
}
.wrapper {
    width: 100%;
    height: 76px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 2px;

    .img {
      width: 70%;
      height: 75px;
      position: relative;
    }
    .img__text {
        width: auto;
        height: 17px;
        margin-top: 30px;
        margin-left: 70px;
        font-size: 20px;
        font-weight: bold;
        color: #ffffff;
        position: absolute;
    }
    .arrow {
      width: 30%;
      height: 75px;
      background-color: #acd8ad;
      color: #ffffff;
      font-size: 20px;
      text-align: center;
      display: block;
    }
    .arr_pos {
      line-height: 3.3em;
    }
}

@media (min-width: 640px) and (max-width: 979px) {
  .gallery {
    .img__main {
      height: 346px;
    }

    .img__main_pic {
      height: 346px;
      background: url("../images/header-fon640.png");
    }

    .text {
      width: 374px;
      height: 74px;
      font-size: 35px;
      top: 30px;
      left: 38px;
    }

    .address {
      font-size: 24px;
      top: 126px;
      left: 37px;
    }
  }
  .wrapper {
    height: 150px;
    .img {
      height: 150px;
    }
    .one {
      height: 150px;
      background: url("../images/Pizza delivery6402.png");
    }
    .two {
      height: 150px;
      background: url("../images/UA_UX Salads6402.png");
    }
    .three {
      height: 150px;
      background: url("../images/Desserts6402.png");
   }
    .img__text {
      margin-left: 100px;
      margin-top: 50px;
      font-size: 36px;
    }
    .dessert {
      margin-left: 130px;
    }
    .arrow {
      height: 150px;
      font-size: 40px;
    }
  }
}

@media (min-width: 980px) and (max-width: 1600px) {
  .gallery {
    .img__main {
      height: 530px;
    }
    .img__main_pic {
      height: 530px;
      background: url("../images/header-fon980.png");
      background-size: cover;
    }
    .text {
      width: 581px;
      height: 117px;
      font-size: 54px;
      top: 64px;
      left: 30px;
    }
    .address {
      color: #a6d6e0;
      font-size: 34px;
      top: 238px;
      left: 30px;
    }
    .wrap980 {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      .wrapper {
        width: 100%;
        height: 327px;
        .img {
          width: 100%;
          height: 327px;
          .one {
            height: 33.3%;
            background: url("../images/Pizza delivery 980.png");
          }
          .two {
            height: 33.3%;
            background: url("../images/UA_UX Salads980.png");
          }
          .three {
            height: 33.3%;
            background: url("../images/Desserts980.png");
          }
        }
      }
      .arrow {
        display: none;
      }
      .img__text {
        width: auto;
        height: 34px;
        margin-top: 145px;
        margin-left: 42px;
        font-size: 38px;
      }
    }
  }
}

@media (min-width: 1200px) and (max-width: 1600px) {
  .gallery {
    .img__main {
      height: 649px;
    }
    .img__main_pic {
      height: 649px;
      background: url("../images/header-fon1200.png");
      background-size: cover;
    }
    .text {
      width: 650px;
      height: 125px;
      font-size: 62px;
      top: 58px;
      left: 37px;
    }
    .address {
      font-size: 38px;
      top: 236px;
      left: 37px;
    }
    .wrap980 {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      .wrapper {
        width: 100%;
        height: 400px;
        .img {
          width: 100%;
          height: 400px;
          .one {
            height: 33.3%;
            background: url("../images/Pizza delivery1200.png");
          }
          .two {
            height: 33.3%;
            background: url("../images/UA_UX Salads fon1200.png");
          }
          .three {
            height: 33.3%;
            background: url("../images/Desserts1200.png");
          }
        }
      }
      .arrow {
        display: none;
      }
      .img__text {
        width: auto;
        height: 35px;
        margin-top: 183px;
        margin-left: 69px;
        font-size: 43px;
      }
    }
  }
}