.list-item {
  width: 100%;
  height: auto;
  position: relative;
  .menu_logo {
    width: 109px;
    height: 89px;
    position: absolute;
    right: 29px;
    top: -25px;
    display: none;
  }
  .header {
    width: 100%;
    font-size: 19px;
    color: #4c4d50;
    text-transform:uppercase;
    font-weight:normal;
    margin-top: 8px;
    margin-left: 20px;
  }
  .sub-header{
    width: 100%;
    font-size: 13px;
    font-weight: normal;
    color: #CBCCCE;
    margin-left: 20px;
    margin-top: 4px;
  }
  .titles {
    width: 100%;
    height: 38px;
    background: #acd8ad;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;

    .titles-position {
      font-size: 19.5px;
      position: absolute;
      top: 12px;
      left: 22px;
    }
  }
  .titles.colored {
    color: #acd8ad;
    background: #3f4043;
  }
  .sub-title {
    width: 100%;
    margin: 19px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    .menu-dishes-type {
      width: 100%;
      height: auto;
      font-size: 15px;
      font-weight: normal;
      text-transform: uppercase;
    }
    .icon {
      position: absolute;
      right: 25px;
      .one {
        width: 25px;
        height: 25px;
      }
      .two {
        width: 13px;
        height: 24px;
      }
      .three {
        width: 30px;
        height: 21px;
      }
      .four {
        width: 21px;
        height: 20px;
      }
    }
  }
  .items {
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    justify-content: flex-start;
    .item-name {
      margin-left: 19px;
      width: 84%;
      font-size: 13px;
    }
    .item-price {
      width: 16%;
      margin-left: 66px;
      font-size: 13px;
      font-weight: bold;
    }
  }
}
.details {
  width: 100%;
  height: 19px;
  margin-top: 8px;
  margin-left: 19px;
  font-size: 9px;
}
.footer {
  width: 100%;
  height: 55px;
  background: #acd8ad;
  margin-top: 31px;
  margin-bottom: 20px;
  position: relative;
  .footer_position{
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    position: absolute;
    top: 13px;
    left: 41px;
  }
  .footer_logo {
    width: 104px;
    height: 83px;
    position: absolute;
    top: 8px;
    left: 64px;
    display: none;
  }
}

@media (min-width: 640px) and (max-width: 979px) {
  .list-item {
    .header {
      font-size: 36px;
      margin-top: 45px;
      margin-left: 33px;
    }
    .sub-header{
      font-size: 20px;
      margin-left: 33px;
      margin-top: 9px;
    }
    .titles {
      height: 75px;
      margin-top: 46px;
      margin-bottom: 38px;
      .titles-position {
        margin-top: -5px;
        font-size: 36px;
        top: 28px;
        left: 38px;
      }
    }
    .sub-title {
      width: 100%;
      .menu-dishes-type {
        width: 100%;
        font-size: 27px;
      }
      .icon {
        position: absolute;
        right: 55px;
      }
      .one {
        height: 48px;
        background:url("../images/Layer 11640.png");
      }
      .two {
        height: 48px;
        background:url("../images/Layer 9640.png");
      }
      .three {
        height: 42px;
        background:url("../images/Layer 10640.png");
      }
      .four {
        height: 42px;
        background:url("../images/Layer 8640.png");
      }
    }
    .items {
      margin-top: 42px;
      .item-name {
        font-size: 27px;
      }
      .item-price {
        font-size: 27px;
      }
    }
  }
  .details {
    height: 37px;
    margin-top: 16px;
    font-size: 17.1px;
  }
  .footer {
    height: 97px;
    margin-top: 117px;
    margin-bottom: 32px;
    .footer_position{
      font-size: 18px;
      line-height: 1.5em;
      top: 28px;
      left: 139px;
    }
  }
}

@media (min-width: 980px) and (max-width: 1999px) {
  .wrapper-menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    .first-part {
      width: 50%;
      height: auto;
    }
    .second-part {
      width: 50%;
      height: auto;
    }
  }
  .items {
    margin-top: 46px;
    .item-name {
      font-size: 24px;
    }
    .item-price {
      font-size: 24px;
    }
    .details {
      height: 34px;
      margin-top: 17px;
      font-size: 16px;
    }
  }
  .list-item{
    .menu_logo {
      display: block;
    }
    .header {
      font-size: 33px;
      margin-top: 72px;
      margin-left: 30px;
    }
    .sub-header{
      font-size: 20px;
      margin-left: 30px;
      margin-top: 10px;
    }
    .sub-title {
      width: 95%;
      .menu-dishes-type {
        width: 95%;
        font-size: 19.6px;
        .icon {
          .one {
            height: 48px;
            background: url("../images/Layer 11 980.png");
          }
          .two {
            height: 48px;
            background: url("../images/Layer 9 980.png");
          }
          .three {
            height: 42px;
            background: url("../images/Layer 10 980.png");
          }
          .four {
            height: 42px;
            background: url("../images/Layer 8 980.png");
          }
        }
      }
    }
  }
  .footer {
    height: 97px;
    margin-top: 84px;
    margin-bottom: 35px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .footer_position {
      width: 300px;
      height: 20px;
      font-size: 18px;
      text-align: right;
      position: absolute;
      top: 40px;
      left: 330px;
      .move {
        width: 350px;
        height: 20px;
        position: absolute;
        top: 0;
        left: 270px;
      }
    }
    .footer_logo {
      display: block;
    }
  }
}

@media (min-width: 1200px) and (max-width: 1600px)  {
  .wrapper-menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    .first-part {
      width: 50%;
      height: auto;
    }
    .second-part {
      width: 50%;
      height: auto;
    }
  }
  .items {
    margin-top: 46px;
    .item-name {
      font-size: 27px;
    }
    .item-price {
      font-size: 27px;
    }
    .details {
      height: 37px;
      margin-top: 16px;
      font-size: 17.5px;
    }
  }
  .list-item{
    .sub-title {
      width: 92%;
      .menu-dishes-type {
        width: 92%;
        font-size: 19.6px;
        .icon {
          .one {
            height: 48px;
            background:url("../images/Layer 111200.png");
          }
          .two {
            height: 48px;
            background:url("../images/Layer 91200.png");
          }
          .three {
            height: 42px;
            background:url("../images/Layer 101200.png");
          }
          .four {
            height: 42px;
            background:url("../images/Layer 81200.png");
          }
        }
      }
    }
    .menu_logo {
      display: block;
    }
    .header {
      font-size: 40px;
      margin-top: 72px;
      margin-left: 30px;
      }
      .titles {
        height: 75px;
        margin-top: 42px;
        margin-bottom: 38px;

        .titles-position {
          font-size: 26.1px;
          position: absolute;
          top: 23px;
          left: 18px;
        }
      }
    .sub-header{
      font-size: 20px;
      margin-left: 30px;
      margin-top: 10px;
    }
  }
  .footer {
    height: 97px;
    margin-top: 128px;
    margin-bottom: 35px;
    position: relative;

    .footer_position {
      width: 300px;
      height: 20px;
      font-size: 18px;
      text-align: right;
      position: absolute;
      top: 40px;
      left: 550px;
      .move {
        width: 350px;
        height: 20px;
        position: absolute;
        top: 0;
        left: 270px;
      }
    }
    .footer_logo {
      display: block;
    }
  }
}

