 .navigation {
    width: 100%;
    height: 37px;
    .text-wrapper {
      width: 100%;
      height: 37px;
      background: #373c3f;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      position: relative;
      .button {
        width: 41px;
        height: 37px;
        background: #202529;
        border: transparent;
        outline: none;
        cursor: pointer;
        position: absolute;
        right: 0;
        .button__menu--first-stripe {
          background: #ffffff;
          width: 20px;
          height: 2px;
          margin-left: 4px;
          margin-top: 5px;
          font-weight: bold;
          display: block;
        }
        .button__menu--second-stripe {
          background: #ffffff;
          width: 20px;
          height: 2px;
          margin-left: 4px;
          margin-top: 4px;
          font-weight: bold;
        }
        .button__menu--third-stripe {
          background: #ffffff;
          width: 20px;
          height: 2px;
          margin-left: 4px;
          margin-top: 4px;
          font-weight: bold;
        }
      }
      .button:hover {
        .button__menu--first-stripe {
          display: none;
        }
        .button__menu--second-stripe {
          display: none;
        }
        .button__menu--third-stripe {
          display: none;
        }
      }
      .logo {
        width: 104px;
        height: 83px;
        position: absolute;
        top: 8px;
        right: 30px;
        display: none;
      }
    }
    .nav-text {
      font-size: 12px;
      color: #ffffff;
      font-family: 'Montserrat', sans-serif;
      position: absolute;
      top: 12px;
      left: 19px;
    }
    .vertical {
      width: 182px;
      height: 161px;
      position: absolute;
      top: 38px;
      right: 0;
      z-index: 1;
      display: none;
      ul {
        list-style: none;
        li {
          background: #fafafa;
          width: 182px;
          height: 30px;
          font-size: 12px;
          padding-left: 9px;
          line-height: 3em;
          cursor: pointer;
          border: 1px solid lightgray;
        }
      }
    }
    .vertical.active {
      display: block;
    }
    .menu-second.active {
      display: block;
    }
    .cross {
      font-size: 20px;
      color: #ffffff;
      display: block;
    }
   .cross.hidden {
      display: none;
    }
  }

@media (min-width: 640px) and (max-width: 979px) {
  .navigation {
    height: 74px;
    .text-wrapper {
      height: 74px;
      .button {
        width: 82px;
        height: 74px;
        border: 3px green;
        .button__menu--first-stripe {
          background: #ffffff;
          width: 22px;
          height: 3px;
          margin-left: 15px;
          margin-top: 15px;
          font-weight: bold;
        }
        .button__menu--second-stripe {
          width: 22px;
          height: 3px;
          margin-left: 15px;
          margin-top: 8px;
        }
        .button__menu--third-stripe {
          width: 22px;
          height: 3px;
          margin-left: 15px;
          margin-top: 8px;
        }
      }
    }
    .nav-text {
      font-size: 24px;
      top: 26px;
      left: 38px;
    }
    .menu-second {
      height: 74px;
      font-size: 30px;
    }
    .vertical {
      width: 243px;
      height: 214px;
      top: 75px;
      ul{
        li {
          width: 243px;
          height: 46px;
          font-size: 14px;
        }
      }
    }
    .cross {
      font-size: 35px;
    }
  }
}

@media (min-width: 980px) and (max-width: 1600px){
  .navigation {
    height: 97px;
    .text-wrapper {
      height: 97px;
      .nav-text {
        display: none;
      }
      .button {
        display: none;
      }
      .logo {
        display: block;
      }
    }
    .vertical {
      width: 650px;
      height: 97px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      display: inline-block;
      ul {
        margin-top: 25px;
        margin-left: 20px;
        color: #ffffff;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        li {
          text-transform: uppercase;
          background: transparent;
          border: none;
          font-size: 15px;
          font-weight: normal;
          padding-left: 9px;
          line-height: 2.8em;
          cursor: pointer;
        }
      }
    }
  }
}
