html, body {
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
  background: white;
}

@import "navbar";
@import "gallery";
@import "menuList";