@font-face {
    font-family: 'Arimo', sans-serif;
    src: url("../fonts/arimo/arimo.woff") format('woff'),
         url("../fonts/arimo/arimo.woff2") format('woff2'),
         url("../fonts/arimo/arimo.ttf") format('truetype'),
         url("../fonts/arimo/Arimo.svg") format('svg'),
         url("../fonts/arimo/Arimo.eot") format('embedded-opentype');
}
body {
    background: #3a4965;
}
.table {
    width: 1197px;
    margin: auto;
    margin-top: 40px;
    background-color: #f2f2f2;
    font-family: 'Arimo', sans-serif;
    border-collapse: collapse;
}
td:nth-child(even) {
    background-color: #e3e3e3;
}
.header1 {
    height: 113px;
    width: 198px;
    background-color: #fafafa;
    vertical-align: middle;
    color: rgba(72, 72, 72, 255);
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    line-height:.6em;
    box-shadow: -1px 4px 0px -2px rgba(202,202,202,1);
}
.header2 {
    color: #ffffff;
    background-color: #89c331;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    box-shadow: -1px 4px 0px -2px rgba(202,202,202,1);
}
.header3 {
    color: #ffffff;
    background-color: #f04a56;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    box-shadow: -1px 4px 0px -2px rgba(202,202,202,1);
}
.header4 {
    color: #ffffff;
    background-color: #20807c;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    box-shadow: -1px 4px 0px -2px rgba(202,202,202,1);
}
.body-content {
    height: 166px;
    width: 157px;
    box-shadow: -1px 4px 0px -2px rgba(202,202,202,1);
    text-align: center;
    vertical-align: middle;
    color: rgba(72, 72, 72, 255);
    text-transform: uppercase;
    line-height: 1.5em;
    font-size: 16px;
}
.body-content1 {
    height: 166px;
    width: 157px;
    box-shadow: -1px 4px 0px -2px rgba(202, 202, 202, 1);
    text-align: center;
    vertical-align: middle;
    color: rgba(72, 72, 72, 255);
    text-transform: uppercase;
    line-height: 1.5em;
    font-size: 16px;
    border-bottom: 2px solid rgba(202, 202, 202, 1);
}
.body-header {
    height: 112px;
    width: 157px;
    text-align: center;
    vertical-align: middle;
    color: rgba(72, 72, 72, 255);
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5em;
    box-shadow: -1px 4px 0px -2px rgba(202,202,202,1);
    background-color: #f2f2f2;
}
.body-header1 {
    height: 112px;
    width: 157px;
    text-align: center;
    vertical-align: middle;
    color: rgba(72, 72, 72, 255);
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5em;
    box-shadow: -1px 4px 0px -2px rgba(202,202,202,1);
    background-color: #e3e3e3;
    border-bottom: 2px solid rgba(202, 202, 202, 1);
}
.body-header1 {
    height: 112px;
    width: 157px;
    text-align: center;
    vertical-align: middle;
    color: rgba(72, 72, 72, 255);
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    background-color: #e3e3e3;
    line-height: 1.5em;
}
.btn1 {
    width: 192px;
    height: 39px;
    border-radius: 5px;
    background-color: #484848;
    border: none;
    text-transform: uppercase;
    font-size: 15px;
    color: #ffffff;
    box-shadow:0 8px #343434;
}
.btn1:hover {
    cursor: pointer;
    background-image: linear-gradient(to right top, #89c331, #acb100, #c89c00, #dd840f, #eb6b30, #db6e27, #cb6f1f, #bb701a, #8a801b, #5c863d, #328561, #20807c);
    font-size: 15px;
    color: black;
    border: 3px solid #484848;
    box-shadow: none;
}
.btn1:focus {
    outline: none;
}
.usd {
    font-size: 36px;
    line-height: 1.5em;
}
.cent {
    vertical-align: super;
    font-size: 18px;
}
.month {
    vertical-align: sub;
    font-size: 14px;
    margin-left: -10px;
}
.price {
    font-size: 14px;
}
.fa-archive, .fa-cloud-upload, .fa-envelope, .fa-life-ring, .fa-cube, .fa-users {
    color: #848484;
}