body {
    background: #3a4965;
}
.table {
    width: 1148px;
    margin: auto;
    margin-top: 40px;
    background-color: #f2f2f2;
    font-family: 'Arimo', sans-serif;
    border-collapse: collapse;
    box-shadow: 6px -1px 2px -4px rgba(156,156,156,1);
}

tr:nth-child(even) {
    background-color: #e3e3e3;
}
.header1 {
    height: 69px;
    width: 310px;
    background-color: #fafafa;
    align-content: center;
    text-align: center;
    vertical-align: bottom;
    color: rgba(72, 72, 72, 255);
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
}
.header11 {
    height: 69px;
    width: 310px;
    background-color: #fafafa;
    align-content: center;
    text-align: center;
    vertical-align: top;
    color: rgba(72, 72, 72, 255);
    text-transform: uppercase;
    font-size: 30px;
    border-right: 3px solid rgba(156,156,156,0.5);
    box-shadow: 6px -1px 2px -4px rgba(156,156,156,0.1);
    font-weight: bold;
}
.header {
    height: 69px;
    width: 277px;
    box-shadow: 6px -1px 2px -4px rgba(156,156,156,1);
    background-color: #fafafa;
    text-align: center;
    vertical-align: middle;
    color: rgba(72, 72, 72, 255);
    text-transform: uppercase;
    font-size: 18px;
    border-right: 3px solid rgba(156,156,156,0.5);
}
.header2 {
    color: #ffffff;
    background-color: #89c331;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}
.header3 {
    color: #ffffff;
    background-color: #f04a56;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}
.header4 {
    color: #ffffff;
    background-color: #20807c;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
}
.header5 {
    border-right: none;
    height: 69px;
    width: 277px;
    background-color: #fafafa;
    text-align: center;
    vertical-align: middle;
    color: rgba(72, 72, 72, 255);
    text-transform: uppercase;
    font-size: 18px;
}
.footer1 {
    height: 135px;
    width: 310px;
    box-shadow: 6px -1px 2px -4px rgba(156,156,156,1);
    background-color: #dddddd;
    text-align: center;
    vertical-align: middle;
    color: rgba(72, 72, 72, 255);
    font-weight: bold;
    font-size: 16px;
    border-right: 3px solid rgba(156,156,156,0.5);
}
.footer {
    height: 135px;
    width: 277px;
    background-color: #eeeeee;
    text-align: center;
    vertical-align: middle;
    color: rgba(72, 72, 72, 255);
    font-weight: bold;
    font-size: 16px;
    border-right: 3px solid rgba(156,156,156,0.5);
}
.footer2 {
    height: 135px;
    width: 277px;
    border-right: none;
    background-color: #eeeeee;
    text-align: center;
    vertical-align: middle;
    color: rgba(72, 72, 72, 255);
    font-weight: bold;
    font-size: 16px;
}
.body-content {
    height: 69px;
    width: 277px;
    box-shadow: 6px -1px 2px -4px rgba(156,156,156,1);
    text-align: center;
    vertical-align: middle;
    color: rgba(72, 72, 72, 255);
    text-transform: uppercase;
}
.body-content1 {
    height: 69px;
    width: 310px;
    box-shadow: 6px -1px 2px -4px rgba(156,156,156,1);
    text-align: center;
    vertical-align: middle;
    color: rgba(72, 72, 72, 255);
    text-transform: uppercase;
}
.body-content4 {
    border-right: none;
    text-align: center;
    vertical-align: middle;
    color: rgba(72, 72, 72, 255);
    text-transform: uppercase;
}
.body-content5 {
    height: 69px;
    width: 310px;
    border-right: none;
    text-align: center;
    vertical-align: middle;
    color: rgba(72, 72, 72, 255);
    text-transform: uppercase;
}
.body-content6 {
    height: 69px;
    width: 310px;
    border-right: none;
    text-align: center;
    vertical-align: middle;
    color: rgba(72, 72, 72, 255);
    text-transform: uppercase;
}
.btn1 {
    width: 192px;
    height: 39px;
    border-radius: 5px;
    background-color: #484848;
    border: none;
    text-transform: uppercase;
    font-size: 15px;
    color: #ffffff;
    box-shadow:0 8px #343434;
}
.btn1:hover {
    cursor: pointer;
    background-color: white;
    font-size: 15px;
    color: black;
    border: 3px solid #484848;
    box-shadow: none;
}
.btn1:focus {
    outline: none;
}
.btn2 {
    width: 192px;
    height: 39px;
    border-radius: 5px;
    background-color: #89c331;
    text-transform: uppercase;
    font-size: 15px;
    color: #ffffff;
    box-shadow: 0 8px #79b027;
    border: none;
}
.btn2:hover {
    cursor: pointer;
    background-color: white;
    font-size: 15px;
    color: black;
    border: 3px solid #89c331;
    box-shadow: none;
}
.btn2:focus {
    outline: none;
}
.btn3 {
    width: 192px;
    height: 39px;
    border-radius: 5px;
    background-color: #f04a56;
    text-transform: uppercase;
    font-size: 15px;
    color: #ffffff;
    box-shadow: 0 8px #df3a46;
    border: none;
}
.btn3:hover {
    cursor: pointer;
    background-color: white;
    font-size: 15px;
    color: black;
    border: 3px solid #f04a56;
    box-shadow: none;
}
.btn3:focus {
    outline: none;
}
.btn4 {
    width: 192px;
    height: 39px;
    border-radius: 5px;
    border: none;
    background-color: #20807c;
    text-transform: uppercase;
    font-size: 15px;
    color: #ffffff;
    box-shadow: 0 8px #16736f;
}
.btn4:hover {
    cursor: pointer;
    background-color: white;
    font-size: 15px;
    color: black;
    border: 3px solid #20807c;
    box-shadow: none;
}
.btn4:focus {
    outline: none;
}
.usd {
    font-size: 60px;
    font-weight: bold;
}
.num {
    vertical-align: super;
    font-size: 24px;
    font-weight: bold;
}
.fa-archive, .fa-cloud-upload, .fa-envelope, .fa-life-ring, .fa-cube, .fa-users {
    color: #848484;
}
.month {
    margin-left: -30px;
}