@font-face {
    font-family: "MyriadHebrew";
    src: url("../font/MyriadHebrew-Regular.otf") format("opentype");
}
.body {
    font-family: MyriadHebrew, serif;
}
.nav-container {
    height: 765px;
    width: 1400px;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("../image/bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    position: relative;
    background-attachment: fixed;

}
.clip-polygon {
    clip-path: polygon(50% 0%, 100% 0, 100% 89%, 50% 100%, 0 89%, 0 0);
}
.clip-polygon-second {
    clip-path: polygon(0 0, 50% 20%, 100% 0, 100% 80%, 50% 100%, 0 80%);
}
.nav-bar {
    position: absolute;
    top: 32px;
    width: 1400px;
    height: 110px;
    background-color: #ffff;
}
.nav-text {
    font-size: 51.99px;
    color: #ffff;
    text-transform: uppercase;
    position: absolute;
    top: 295px;
    left: 275px;
    width: 750px;
    font-weight: bold;
    line-height: 1.3em;
    text-align: center;
}
.nav-text2 {
    font-size: 51.99px;
    color: #ffff;
    text-transform: uppercase;
    position: absolute;
    top: 370px;
    left: 180px;
    width: 900px;
    font-weight: bold;
    line-height: 1.3em;
    text-align: center;
}
.flex-nav {
    height: 100px;
    width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    justify-items: flex-end;
}
.logo-name {
    height: 80px;
    width: 200px;
    order: 1;
    text-align: left;
    line-height: 120px;
    color: #14afca;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
}
.colored {
    font-size: 36px;
    font-weight: normal;
    color: rgba(66, 79, 87, 255);
}
.lowerCase {
    font-size: 36px;
    text-transform: lowercase;
}
.href-menu {
    text-decoration: none;
    color: black;
}
.href-menu:hover {
    transition: all 0.1s ease;
    color: #14afca;
}
.nav-items {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: rgba(20, 175, 202, 255);
    height: 20px;
    order: 2;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: flex-end;
    cursor: pointer;
}
.box-flex-nav {
    height: 40px;
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    flex-wrap: wrap-reverse;
    margin-left: 200px;
    margin-top: 35px;
}
.tex-box {
    width: 973px;
    height: 200px;
    padding-left: 220px;
    padding-bottom: 80px;
    padding-top: 80px;
}
.colored2 {
    font-size: 60px;
    color: rgba(20, 175, 202, 255);
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 15px;
}
.heder {
    font-size: 20px;
    color: rgba(66, 79, 87, 255);
    text-align: center;
}
.text {
    color: rgba(66, 79, 87, 255);
    font-size: 16px;
    text-align: center;
    padding: 42px;
    line-height: 1.5em;
}
.companies-box {
    width: 1400px;
    height: 715px;
    background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)), url("../image/bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    position: relative;
    background-attachment: fixed;
}
.company-text-box {
    width: 800px;
    height: 100px;
    position: absolute;
    top: 180px;
    left: 290px;
}
.heder2 {
    color: rgba(255, 255, 255, 255);
    font-size: 18px;
    text-align: center;

}
.flex-logo {
    margin-left: 40px;
    width: 750px;
    height: 200px;
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.box {
    width: 150px;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 100px;
    border: 2px solid transparent;
}
.grid-container-news {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-column-gap: 161px;
    justify-content: center;
    margin-left: 100px;
    margin-top: 42px;
    margin-bottom: 124px;
}
.grid-container-news div {
    justify-content: center;
}

.news-image {
    width: 207px;
    height: 206px;
    margin-left: 40px;
}
.news-text {
    width: 260px;
    height: 77px;
    margin-top: 27px;
    text-align: center;
    font-size: 15px;
    line-height: 1.2em;
    margin-left: 10px;
    color: rgba(66, 79, 87, 255);;
}
.companies-box-last {
    width: 1400px;
    height: 715px;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url("../image/bg3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    margin-top: 300px;
    position: relative;
    background-attachment: fixed;
}
.company-text-box-last {
    width: 800px;
    height: 100px;
    position: absolute;
    top: 270px;
    left: 290px;
}
.heder2 {
    color: rgba(255, 255, 255, 255);
    font-size: 18px;
    text-align: center;

}
.text-footer {
    width: 800px;
    height: 70px;
    color: rgba(211, 204, 204, 255);
    font-size: 16px;
    font-style: italic;
    margin-top: 43px;
    line-height: 2em;
}
.autor {
    color: rgba(211, 204, 204, 255);
    font-size: 18px;
    font-style: italic;
    margin-top: 15px;
    text-align: right;
    position: absolute;
    top: 220px;
    left: 600px;
}
.text3 {
    width: 690px;
    color: rgba(66, 79, 87, 255);
    font-size: 30px;
    text-align: center;
    padding: 42px;
    line-height: 1.5em;
    font-weight: bold;
    margin-left: 100px;
    margin-bottom: 113px;
}
.footer {
    width: 400px;
    margin-left: 550px;
    line-height: 1.5em;
}
.text-foot {
    text-align: center;
    font-weight: bold;
}