body, html {
    width: 100%;
    height: 100%;
    color: #ffdb4d;
    font-family: Arial, sans-serif;
    font-weight: bold;
    background-color: black;
    overflow: hidden;
}
.box-text {
    width: 16em;
    height: 50em;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -8em;
    font-size: 350%;
    overflow: hidden;
    transform-origin: 50% 100%;
    transform: perspective(300px) rotateX(25deg);
    text-align: justify;
}

.box-text:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 60%;
    background-image:linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
    pointer-events: none;
}
.box-text p {
    text-align: justify;
    margin: 0.8em 0;
}
.box-text p.main-text{
    text-align: center;
}
.box-text-move {
    position: absolute;
    top: 100%;
    animation: scroll 100s linear infinite;
}
@keyframes scroll {
    from {
        top: 100%;
    }
    to {
        top: -170%
    }
}