.div {
    background-color: rosybrown;
    font-size: 25px;
    width: 300px;
    height: 120px;
    margin: 0 auto;
    position: relative;
}
.span {
    color: darkslategrey;
    font-size: 28px;
    position: absolute;
    top: 50px;
    left: 40px;
}
.input {
    width: 100px;
    color: black;
    height: 25px;
    left: 135px;
    text-align: center;
    top: 50px;
    outline: none;
    position: absolute;
}
.add {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 35px;
    width: 200px;
    height: 35px;
    border-radius:5px;
    left: 48px;
    top: 10px;
    background-color: lavenderBlush;
    position: absolute;
    color: darkSlateGray;
    display: none;
}

.button {
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
    color: black;
    width: 20px;
    height: 20px;
    background-color:lavenderBlush;
    position: absolute;
    left: 227px;
    top: 10px;
    border: none;
    outline: none;
    display: none;
}
.error {
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    left: 90px;
    top: 90px;
    color: black;
    display: none;
}

.inpBorder {
    border-color: green;
}
.plusAdd {
    display: block;
}
.plusButton {
    display: block;
}
.correct {
    color: green;
    border-color: green;
    display: block;
}
.invalid {
    color: red;
    border-color: red;
    display: block;
}