body {
    background-color: lightgray;
}
.twitLine{
    height: auto;
    margin: 0 auto;
}
.wrapper {
    width: 600px;
    height: 435px;
    margin: 30px auto;
    background-color: white;
    border-radius: 4px;
    display: block;
}
.close {
    display: none;
}
.cover {
    width: 580px;
    height: auto;
    position: relative;
    top: 10px;
    margin: 10px auto;
    background-color: aliceblue;
}
.attTwit_wrapper {
    width: 200px;
    height: 15px;
    position: relative;
    top: 5px;
    left: 42px;
}
.pintext {
    font-size: 15px;
    color: grey;
}
.header {
    width: auto;
    height: 60px;
    margin-top: 15px;
    position: relative;
}
.bigPic-wrapper {
    width: 500px;
    height: auto;
    position: relative;
    left: 65px;
    top: 0;
    border: 1px solid darkgrey;
    border-radius: 15px;
}
.footer {
    width: 500px;
    height: 30px;
    position: relative;
    left: 65px;
    top: 0;
}
.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px;
    position: absolute;

}
.title-cover {
    width: 450px;
    height: auto;
    position: absolute;
    left: 65px;
}
.name {
    width: auto;
    height: 20px;
    position: relative;
    text-decoration: underline;
    font-weight: bold;
}
.nameInput {
    width: 160px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
}
.tag {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    right: 250px;
}
.address {
    width: 100px;
    height: 20px;
    position: absolute;
    top: 0;
    right: 140px;
    font-weight: normal;
    color: gray;
}
.text {
    width: 450px;
    height: auto;
    color: gray;
}

.arrow {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
}
.pic {
    width: 500px;
    height: 180px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.headerTitle {
    width: 490px;
    height: auto;
    margin-top: 10px;
    padding-left: 10px;
}
.publiction {
    width: 480px;
    height: auto;
    margin-top: 5px;
    color: grey;
}
.email {
    color: grey;
    margin-top: 5px;
}
.comment {
    width: auto;
    height: 30px;
    margin-right: 20px;
    position: absolute;
    top: 0;
    left: 0;
}
.view {
    width: auto;
    height: 30px;
    margin-right: 20px;
    position: absolute;
    top: 0;
    left: 130px;
}
.upload {
    width: auto;
    height: 30px;
    margin-right: 20px;
    position: absolute;
    top: 0;
    left: 400px;
}
.heart {
    width: auto;
    height: 30px;
    margin-right: 20px;
    position: absolute;
    top: 0;
    left: 270px;
}
.fa-thumbtack {
    margin-right: 10px;
    color: grey;
}
.fa-angle-down {
    width: 20px;
    height: 20px;
    color: grey;
    margin-left: 540px;
    margin-top: 10px;
}
.fa-certificate {
    color: blue;
}
.fa-comment {
    color: grey;
    margin-left: 5px;
    margin-top: 8px;
}
.comData {
    position: relative;
    top: -15px;
    left: 30px;
    color: grey;

}
.fa-expand-arrows-alt {
    color: grey;
    margin-top: 8px;
    margin-left: 5px;
}
.fa-upload {
    color: grey;
    margin-top: 8px;
    margin-left: 5px;
}
.fa-heart {
    color: grey;
    margin-top: 8px;
    margin-left: 5px;
}
.viewData {
    position: relative;
    top: -15px;
    left: 30px;
    color: grey;
}
.heartData {
    position: relative;
    top: -15px;
    left: 30px;
    color: grey;
}
.btns {
    width: 75px;
    height: 30px;
    position: absolute;
    right: 0;
    top: -27px;
}
.cross {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    color: grey;
    font-weight: bold;
}
.change {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 30px;
    top: 0;
    color: grey;
    font-weight: bold;
}
.modal {
    width: 400px;
    height: 100px;
    border: 6px solid white;
    background-color: aliceblue;
    display: none;
}
.form-group {
    margin-top: 8px;
    margin-bottom: 15px;
    margin-left: 15px;
}
.show {
    display: block;
}
.post {
    width: 100px;
    height: 30px;
    background-color: aliceblue;
    color: grey;
    font-weight: bold;
    position: absolute;
    right: 35px;
    top: 10px;
}