body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.modal-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.1);
}
.modal-box {
    position: relative;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 40%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    z-index: 101;
    padding: 30px;
}
.my-card{
    width: 250px;
    height: 430px;
    border: 2px solid grey;
    margin: 15px;
}
.img{
    width: 246px;
    height: 200px;
    margin-top: -20px;
    margin-left: -20px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.starPosition{
    font-size: 25px;
    color: green;
    position: absolute;
    bottom: 190px;
    right: 10px;
    cursor: pointer;
}
