@font-face {
    font-family: "Verdana Reg";
    src: url('../fonts/Verdana.ttf');
    font-style: normal;
    font-weight: normal;
}
body {
    background-color: black;
    margin: 0px auto;
    font-family: Verdana, sans-serif;
}
.container {
    display: block;
    width: 100%;
    height: 912px;
    background-image: url("../image/backgpic.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.menu-area {
    display: block;
    height: 56px;
    position: relative;
    z-index: 100;
    background-color: hsla(0,100%,0%,0.6);
}
.logoname {
    display: inline-block;
    padding-left: 80px;
    padding-top: 22px;
    font-size: 20px;
    font-weight: bold;
    color: hsla(255, 100%, 100%, 1);
    cursor: pointer;
}
.logoname:hover {
    transition: all ease;
    color: #3cb878;
}
a {
    background-image: url("../image/css_spri.png");
    background-repeat: no-repeat;
    display: inline-block;
}
a.calendar {
    position: absolute;
    top: 22px;
    right: 426px;
}
.calendar {
    width: 19px;
    height: 19px;
    background-position: -50px -86px;
}
a.calendar:hover {
    background-position: -89px -86px;
    transition: all ease;
}
a.forum {
    position: absolute;
    top: 22px;
    right: 370px;
}
.forum {
    width: 28px;
    height: 20px;
    background-position: -10px -10px;
}
a.forum:hover {
    background-position: -58px -10px;
    transition: all ease;
}
a.journey {
    position: absolute;
    top: 22px;
    right: 322px;
}
.journey {
    width: 20px;
    height: 20px;
    background-position: -106px -10px;
}
a.journey:hover {
    background-position: -10px -86px;
    transition: all ease;
}
.menu-tex {
    font-size: 14px;
    color: white;
    font-weight: normal;
    position: absolute;
    top: 22px;
    right: 73px;
    border-left:  1px solid lightgray;
    padding-left: 15px;
    cursor: pointer;
}
.form-box {
    display: block;
    width: 444px;
    height: 584px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 121px;
    border-radius: 15px 15px 15px;
    position: relative;
}
.form-name {
    font-size: 20px;
    font-weight: normal;
    color: rgba(67, 67, 67, 255);
    position: absolute;
    top: 5px;
    left: 60px;
}
.square {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #3cb878;
    position: absolute;
    top: 26px;
}
.login {
    font-size: 14px;
    font-weight: normal;
    color: #3CB878;
    position: absolute;
    top: 27px;
    right: 59px;
}
.login:hover {
    text-decoration: underline;
}
.sprite-box1 {
    background-color: #305db8;
    width: 157px;
    height: 46px;
    top: 55px;
    left: 60px;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
}
.sprite-box2 {
    background-color: #df4a32;
    width: 157px;
    height: 46px;
    top: 10px;
    left: 230px;
    border-radius: 2px;
    position: relative;
    cursor: pointer;
}
.sprite-tex {
    display: inline-block;
    height: 15px;
    width: 44px;
    padding-top: 13px;
    padding-left: 55px;
    color: #ffffff;
}
a.facebook {
    position: absolute;
    top: 15px;
    left: 15px;
}
.facebook {
    width: 10px;
    height: 20px;
    background-position: -146px -10px;
}
a.google {
    position: absolute;
    top: 15px;
    left: 15px;
}
.google {
    width: 25px;
    height: 16px;
    background-position: -10px -50px;
}
.line-box {
    width: 310px;
    height: 46px;
    font-size: 14px;
    position: absolute;
    top: 150px;
    left: 62px;
    border: 1px solid #dddddd;
}
.line-box:focus {
    outline: none;
    border: grey;
    box-shadow: 4px 1px 10px 5px rgba(160, 160, 160, 0.51);
}
.line-box, .line-box1, .line-box2, .line-box3, .line-box4::-webkit-input-placeholder {
    padding-left: 15px;
}
.line-box1 {
    width: 310px;
    height: 46px;
    font-size: 14px;
    position: absolute;
    top: 216px;
    left: 62px;
    border: 1px solid #dddddd;
    color: #eeeeee;
}
.line-box1:focus {
    outline: none;
    border: grey;
    box-shadow: 4px 1px 10px 5px rgba(160,160,160,0.51);
}
.line-box4 {
    width: 325px;
    height: 46px;
    font-size: 14px;
    position: absolute;
    top: 280px;
    left: 62px;
    border: 1px solid #dddddd;
}
.line-box4:focus {
    outline: none;
    border: grey;
    box-shadow: 4px 1px 10px 5px rgba(160, 160, 160, 0.51);
}
.line-box2 {
    width: 310px;
    height: 46px;
    font-size: 14px;
    position: absolute;
    top: 345px;
    left: 62px;
    border: 1px solid #dddddd;
}
.line-box2:focus {
    outline: none;
    border: grey;
    box-shadow: 4px 1px 10px 5px rgba(160, 160, 160, 0.51);
}
.line-box3 {
    width: 310px;
    height: 46px;
    font-size: 14px;
    position: absolute;
    top: 410px;
    left: 62px;
    border: 1px solid #dddddd;
}
.line-box3:focus {
    outline: none;
    border: grey;
    box-shadow: 4px 1px 10px 5px rgba(160, 160, 160, 0.51);
}

.bnt {
    width: 322px;
    height: 46px;
    font-size: 16px;
    color: #ffffff;
    border-radius: 5px;
    background-color: #3cb878;
    position: absolute;
    top: 510px;
    left: 62px;
    cursor: pointer;
}
.form-lable {
    font-size: 14px;
    position: absolute;
    top: 480px;
    left: 92px;
}
.agree-terms {
    position: absolute;
    top: 480px;
    left: 62px;

}
.left {
    width: 137px;
    size: 10px;
    position: absolute;
    top: 120px;
    left: 62px;
    border: 1px solid #cccccc;
}
.right {
    width: 137px;
    size: 10px;
    position: absolute;
    top: 120px;
    right: 60px;
    border: 1px solid #cccccc;
}
.for-or {
    font-size: 14px;
    position: absolute;
    top: 120px;
    left: 215px;
    color: #cccccc;
}
.colortext {
    color: #3cb878;
}
.colortext:hover {
    text-decoration: underline;
}
.custom-radio {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 10%;
    background-color: white;
    border: 1px solid #dddddd;
    vertical-align: top;
    padding-top: 3px;
    padding-right: 3px;
    padding-left: 5px;
    padding-bottom: 3px;
    position: absolute;
    top: 469px;
    left: 62px;
}
.checkbox-control + .custom-radio {
    background: url('../image/chack_sprites.png') 0 0 no-repeat;
    padding-left: 15px;
    padding-top: 8px;
}
.checkbox-control:checked + .custom-radio {
    background-position: 0 -32px;
}
.checkbox-control {
    display: none;
}
.checkbox {
    display: inline-block;
    width: 400px;
    height: 20px;
    font-size: 14px;
    margin-left: 32px;
}
.bnt, .bnt:visited, .bnt:focus, .bnt:active, .bnt:hover{
    outline:0 none;
}
input::-webkit-input-placeholder {
    color: #cccccc;
}