@font-face {
    font-family: 'Myriad Pro Regular';
    src: url('../fonts/MyriadPro-Regular.otf');
    font-style: normal;
    font-weight: normal;
}
body{
    background: black;
    margin-top: 300px;
    margin-left: 300px;
}
.img {
    display: inline-block;
    position: relative;
    padding-bottom: 20px;
    margin-left: -15px;
    cursor: pointer;

}
img  {
    border: 15px solid lightseagreen;
    width: 300px;
    height: 200px;
}
span {
    display:inline-block;
    position:absolute;
    top:150px;
    left:20px;
}
span.text {
    font-family: "Myriad Pro Regular";
    color: white;
    font-weight: bold;
    font-size: 22px;
}
.img:hover {
    transform:scale(1.05);
}