
.wrapper {
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff;
    width: 1900px;
    height: auto;
}
.nav-bar {
    background-color: #1d2124;
    color: #ffffff;
    height: 70px;
    width: 1900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
}
.logo-placment {
    width: 300px;
    height: 60px;
    order: 1;
    align-self: flex-start;
}
.logo-pic {
    width: 27px;
    height: 27px;
    margin: 25px;
    background-color: #171a1c;
}
.logo-name {
    font-weight: bold;
    color: #ffffff;
    font-size: 22px;
    vertical-align: top;
    line-height: 80px;
}
.flex {
    width: 1000px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    align-self: flex-end;
    margin-left: 160px;
    order: 2;
}
.flex-second-nav {
    width: 900px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    align-self: flex-end;
    background-color: transparent;
    position: absolute;
    top: 60px;
}
.href-menu {
    display: block;
    text-decoration: none;
    color: white;
    margin: 20px;
}
.second-href-menu {
    display: inline-block;
    text-decoration: none;
    color: #18b4cf;
    margin: 20px;
    font-weight: bold;
}
.nav-items {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    color: white;
    justify-items: flex-start;
    align-self: flex-start;
}
.second-nav-item {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    color: black;
    justify-items: flex-start;
    align-self: flex-start;
    background-color: orange;
    border: 3px solid green;
}
.search {
    width: 68px;
    height: 70px;
    background-color: #171a1c;
    order: 3;
    align-self: flex-end;
    cursor: pointer;
}
.search-icon {
    height: 25px;
    width: 25px;
    margin: 20px;
}
.scroll-image {
    width: 1900px;
    height: 404px;
    background-image: url("../images/layer22.png");
    background-attachment: fixed;
}
.latest-news {
    width: 720px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: 650px;
    top: -300px;
}
.text {
    width: 700px;
    height: 40px;
    font-size: 27px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    order: 1;
    align-self: center;
}
.btn1 {
    width: 170px;
    height: 55px;
    background-color: #89ca62;
    border: 2px solid #89ca62;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 3px;
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    order: 2;
    align-self: flex-end;
    margin-left: 130px;
    margin-top: 14px;
    cursor: pointer;
}
.btn1:focus, .btn2:focus {
    outline: none;
}
.btn2 {
    width: 170px;
    height: 55px;
    background-color: #14b9d5;
    border: 2px solid #14b9d5;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    order: 3;
    align-self: flex-end;
    margin-left: 320px;
    margin-top: 18px;
    cursor: pointer;
}
.href-button {
    display: block;
    text-decoration: none;
    color: white;
}
.blue-headers {
    font-size: 27px;
    font-weight: bold;
    color: #18b4cf;
    text-transform: uppercase;
    padding-top: 30px;
    margin-left: 810px;
    margin-top: -100px;
}
.flex-pop-post {
    width: 1170px;
    height: 880px;
    margin-top: 52px;
    margin-left: 370px;
    margin-right: 360px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.container-one-two {
    width: 390px;
    height: 700px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.flex-box1 {
    background-color: #ffffff;
    width: 370px;
    height: 320px;
 }
.flex-box1 h3 {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
.flex-box2 {
    background-color: #ffffff;
    width: 370px;
    height: 321px;

}
.flex-box2 h3 {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
.container-three-four {
    width: 390px;
    height: 810px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.flex-box3 {
    background-color: #ffffff;
    width: 370px;
    height: 441px;
}
.flex-box3 h3 {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
.flex-box4 {
    background-color: #ffffff;
    width: 370px;
    height: 309px;

}
.flex-box4 h3 {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    align-items: flex-start;
}
.container-five-six {
    width: 370px;
    height: 860px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.flex-box5 {
    background-color: #ffffff;
    width: 370px;
    height: 355px;

}
.flex-box5 h3 {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
.flex-box6 {
    background-color: #ffffff;
    width: 370px;
    height: 441px;

}
.flex-box6 h3 {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
.backgroun-change {
    width: 1900px;
    height: 100%;
}
.backgroun-image {
    background-image: url("../images/parallax2.jpeg");
    background-attachment: fixed;
    width: 1900px;
    height: 598px;
}
.popular-clients {
    position: relative;
}
.white-headers-clients {
    width: 900px;
    font-size: 32px;
    font-weight: bold;
    color:  #ffffff;
    position: absolute;
    top: -120px;
    left: 690px;
    text-transform: uppercase;
    letter-spacing: .1em;
}
.hor-line {
    height: 3px;
    width: 60px;
    background-color:  #18b4cf;
    position: absolute;
    top: -50px;
    left: 930px;
}
.grid-container-clients {
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    grid-template-rows: 40px;
    justify-content: center;
    justify-items: center;
    margin-left: 580px;
    margin-top: -300px;
    margin-bottom: 300px;
}
.blue-headers-two {
    height: 58px;
    font-size: 27px;
    font-weight: bold;
    color: #18b4cf;
    text-transform: uppercase;
    margin-top: 38px;
    margin-left: 810px;
}
.grid-container {
    display: grid;
    grid-template-columns: 271px 271px 271px 271px 272px 272px 272px;
    grid-template-rows: 191px;
    flex-wrap: nowrap;
}
.grid-container-news-header {
    display: grid;
    grid-template-columns: 510px 380px 277px;
    grid-template-rows: 259px;
    justify-content: center;
    margin-left: 300px;
}
.grid-container-news-header div {
    background-color: #f9f7f7;
}
.news-image-long {
    width: 483px;
    height: 259px;
}
.news-image-long2 {
    width: 483px;
    height: 259px;
    margin-left: 35px;
}
.text-only {
    width: 338px;
    height: 259px;
  }
.text-only2 {
    width: 338px;
    height: 259px;
    margin-left: 35px;
}
.news-image-short {
    width: 277px;
    height: 210px;
}

.grid-container-news {
    display: grid;
    grid-template-columns: 554px 554px;
    grid-template-rows: 416px 416px;
    grid-row-gap: 43px;
    grid-column-gap: 60px;
    justify-content: center;
    margin-left: 300px;
    margin-top: 42px;
}
.grid-container-news div {
    background-color: #f9f7f7;
}

.news-image {
    width: 550px;
    height: 240px;

}
.news-heders {
    margin-left: 200px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;

}
.news-heders2 {
    margin-top: 15px;
    margin-left: 40px;
    font-size: 18px;
    font-weight: bold;
}
.news-text {
    width: 505px;
    height: 77px;
    margin-top: 22px;
    margin-left: 20px;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5em;
}
.news-text2 {
    width: 320px;
    height: 140px;
    text-align: center;
    margin-top: 22px;
    margin-left: 5px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5em;

}
.grid-container-news-footer {
    display: grid;
    grid-template-columns: 277px 483px 373px;
    grid-template-rows: 259px;
    justify-content: center;
    margin-left: 280px;
    margin-top: 43px;
    margin-bottom: 71px;
}
.grid-container-news-footer div {
    background-color: #f9f7f7;
}
.footer-box {
    width: 1900px;
    height: 80px;
    background-color: #1d2124;
    display: grid;
    grid-template-rows: 75px;
    grid-template-columns: 1250px 50px 100px;
    justify-content: center;
}

.text-footer {
    margin-top: 35px;
    font-size: 13px;
    color: #ffffff;
    margin-left: 50px;
}
.footer-log {
    margin-top: 25px;
    margin-left: -200px;

}
.footer-logo2 {
    margin-top: 25px;
    margin-left: -200px;
}

.button {
    width: 170px;
    height: 55px;
    background-color: #14b9d5;
    border: 2px solid #14b9d5;
    color: white;
    font-size: 18px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: 600;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    margin-left: 870px;
    outline: none;
}

.btn-wrapper {
    width: auto;
    height: 120px;
}
.up {
    width: 170px;
    height: 55px;
    background-color: #14b9d5;
    border: 2px solid #14b9d5;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    outline: none;
    position: fixed;
    z-index: 999;
    display: none;
    bottom: 70px;
    right: 15px;
    cursor: pointer;

}