
.content {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    width: 1280px;
    margin: 0 auto;
}
.navigation {
    text-align: center;
    padding: 24px;
}
.navigation li {
    display: inline;
    padding: 8px;
    color: #16A085;
    font-size: 18px;
    text-transform: uppercase;
    font-size: 18px;
}
.picture {
    background-position: center;
    width: 1280px;
    height: 790px;
}
.content {
    padding-top: 0px;
    background-color: #F5F6F7;
}
.title {
    padding-top: 44px;
    padding-bottom: 26px;
    text-transform: uppercase;
    font-size: 22px;
    color: #373737;

}
.text-box {
    width: 1059px;
    height: 354px;
    margin-left: 85px;
}
.text {
    color: #373737;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 2px;

}
.brake-line {
    margin: 10px;
}

.get-start {
    text-align: center;
    background-color: #16A085;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    width: 193px;
    height: 52px;
    padding: 18px 34px 14px 33px;
    margin-bottom: 71px;
}
.footer {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 2px;
    text-align: right;
    padding: 20px;
    margin-right: 78px;
    margin-bottom: 34px;
}
