.body-background {
    background-image: url("../image/background.png");
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: Verdana, sans-serif;
}
.header {
    width: 100%;
    height: 80px;
    margin: 0 auto;
    margin-top: 20px;
}
.header-logo {
    float: left;
    top: -15px;
    left: 200px;
    position: relative;
    width: 300px;
    height: 64px;
    margin: 0 auto;
    margin-top: 25px;
    padding: 5px;
    box-sizing: border-box;
}
.logo-img:hover {
    content: url("../image/imgorange.png");
}

.milan {
    position: absolute;
    top: 0;
    left: 65px;
    font-size: 29px;
    text-align: left;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    opacity: 1;
    transition: color .05s ease-in-out;
}
.milan:hover {
    color: #F26522;
}
.holidays {
    position: absolute;
    top: 35px;
    left: 65px;
    font-size: 18px;
    text-align: left;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    opacity: 1;
    transition: color .05s ease-in-out;
}
.holidays:hover {
    color: #F26522;
}
.email-phone {
    float: right;
    top: -15px;
    right: 200px;
    position: relative;
    width: 300px;
    height: 64px;
    margin: 0 auto;
    margin-top: 25px;
    padding: 5px;
    box-sizing: border-box;
}
.email {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 18px;
    text-align: right;
    color: #ffffff;
    font-style: normal;
}
.email-decotarion {
    text-decoration: none;
    color: #ffffff;
}
.phone {
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 18px;
    text-align: right;
    color: #ffffff;
    font-style: normal;
}
.content {
    width: 1140px;
    height: 600px;
    margin: 0 auto;
    margin-top: 10px;
    padding-left: 50px;
}
.img {
    position: relative;
    float: left;
    width: 314px;
    margin: 25px 25px;
    vertical-align: center;
}
.container {
    position: absolute;
    top: 138px;
    left:0px;
    background:#F26522;
    width: 311px;
    height: 63px;
    color: #ffffff;
    font-size: 10px;
    text-align: center;
    opacity: 0;
    transition: opacity .05s ease-in-out;
}
.text-hover {
    color: #ffffff;
    font-size: 18px;
    line-height: 55px;
    padding-left: 95px;
}
.img-hover:hover ~ .container {
    opacity: 1;
}
.img-hover:hover ~ .text-hover {
    color: #F26522;
}
.container:hover {
    opacity: 1;
}
.container:hover ~ .text-hover {
    color: #F26522;
}
.for-details {
    font-size: 14px ;
    text-align: right;
    margin-right: 45px;
    position: relative;
    left: 0;
    top: 25px;
}
.for-details:after {
    content: '';
    position: absolute;
    right: -20px;
    bottom: 3px;
    border-right: 2px solid;
    border-bottom: 2px solid;
    height: 8px;
    width: 8px;
    transform: rotate(-45deg);

}
.for-сurrency {
    font-size: 20px;
    text-align: left;
    margin-right:125px;
    position: absolute;
    left: 25px;
    top: 30px;
}
.from {
    font-size: 10px;
    text-align: left;
    margin-right:125px;
    position: absolute;
    left: 25px;
    top: 15px;
}
.pic {
    width: 308px;
    height: 201px;
    box-shadow: 0 -3px 2px #999999;
}
.text {
    color: #ffffff;
    font-size: 18px;
    line-height: 55px;
    padding-left: 95px;

}
.footer {
    clear: both;
    font-family: Verdana, sans-serif;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    padding-top: 10px;
}
a {
    text-decoration: none;
}

