html, body {
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
  background: white; }

.navigation {
  width: 100%;
  height: 37px; }
  .navigation .text-wrapper {
    width: 100%;
    height: 37px;
    background: #373c3f;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative; }
    .navigation .text-wrapper .button {
      width: 41px;
      height: 37px;
      background: #202529;
      border: transparent;
      outline: none;
      cursor: pointer;
      position: absolute;
      right: 0; }
      .navigation .text-wrapper .button .button__menu--first-stripe {
        background: #ffffff;
        width: 20px;
        height: 2px;
        margin-left: 4px;
        margin-top: 5px;
        font-weight: bold;
        display: block; }
      .navigation .text-wrapper .button .button__menu--second-stripe {
        background: #ffffff;
        width: 20px;
        height: 2px;
        margin-left: 4px;
        margin-top: 4px;
        font-weight: bold; }
      .navigation .text-wrapper .button .button__menu--third-stripe {
        background: #ffffff;
        width: 20px;
        height: 2px;
        margin-left: 4px;
        margin-top: 4px;
        font-weight: bold; }
    .navigation .text-wrapper .button:hover .button__menu--first-stripe {
      display: none; }
    .navigation .text-wrapper .button:hover .button__menu--second-stripe {
      display: none; }
    .navigation .text-wrapper .button:hover .button__menu--third-stripe {
      display: none; }
    .navigation .text-wrapper .logo {
      width: 104px;
      height: 83px;
      position: absolute;
      top: 8px;
      right: 30px;
      display: none; }
  .navigation .nav-text {
    font-size: 12px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 12px;
    left: 19px; }
  .navigation .vertical {
    width: 182px;
    height: 161px;
    position: absolute;
    top: 38px;
    right: 0;
    z-index: 1;
    display: none; }
    .navigation .vertical ul {
      list-style: none; }
      .navigation .vertical ul li {
        background: #fafafa;
        width: 182px;
        height: 30px;
        font-size: 12px;
        padding-left: 9px;
        line-height: 3em;
        cursor: pointer;
        border: 1px solid lightgray; }
  .navigation .vertical.active {
    display: block; }
  .navigation .menu-second.active {
    display: block; }
  .navigation .cross {
    font-size: 20px;
    color: #ffffff;
    display: block; }
  .navigation .cross.hidden {
    display: none; }

@media (min-width: 640px) and (max-width: 979px) {
  .navigation {
    height: 74px; }
    .navigation .text-wrapper {
      height: 74px; }
      .navigation .text-wrapper .button {
        width: 82px;
        height: 74px; }
        .navigation .text-wrapper .button .button__menu--first-stripe {
          background: #ffffff;
          width: 40px;
          height: 3px;
          margin-left: 15px;
          margin-top: 15px;
          font-weight: bold; }
        .navigation .text-wrapper .button .button__menu--second-stripe {
          width: 40px;
          height: 3px;
          margin-left: 15px;
          margin-top: 8px; }
        .navigation .text-wrapper .button .button__menu--third-stripe {
          width: 40px;
          height: 3px;
          margin-left: 15px;
          margin-top: 8px; }
    .navigation .nav-text {
      font-size: 24px;
      top: 26px;
      left: 38px; }
    .navigation .menu-second {
      height: 74px;
      font-size: 30px; }
    .navigation .vertical {
      width: 243px;
      height: 214px;
      top: 75px; }
      .navigation .vertical ul li {
        width: 243px;
        height: 46px;
        font-size: 14px; }
    .navigation .cross {
      font-size: 35px; } }

@media (min-width: 980px) and (max-width: 1600px) {
  .navigation {
    height: 97px; }
    .navigation .text-wrapper {
      height: 97px; }
      .navigation .text-wrapper .nav-text {
        display: none; }
      .navigation .text-wrapper .button {
        display: none; }
      .navigation .text-wrapper .logo {
        display: block; }
    .navigation .vertical {
      width: 650px;
      height: 97px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      display: inline-block; }
      .navigation .vertical ul {
        margin-top: 25px;
        margin-left: 20px;
        color: #ffffff;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-start; }
        .navigation .vertical ul li {
          text-transform: uppercase;
          background: transparent;
          border: none;
          font-size: 15px;
          font-weight: normal;
          padding-left: 9px;
          line-height: 2.8em;
          cursor: pointer; } }

.gallery {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .gallery .img__main {
    width: 100%;
    height: 173px;
    position: relative;
    text-align: left;
    margin-bottom: 4px; }
  .gallery .img__main_pic {
    width: 100%;
    height: 173px; }
  .gallery .text {
    width: 167px;
    height: 30px;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    position: absolute;
    line-height: 1.2em;
    top: 19px;
    left: 20px; }
  .gallery .address {
    color: #a6d6e0;
    text-decoration: none;
    margin-top: 11px;
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    top: 53px;
    left: 21px; }

.wrapper {
  width: 100%;
  height: 76px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 2px; }
  .wrapper .img {
    width: 70%;
    height: 75px;
    position: relative; }
  .wrapper .img__text {
    width: auto;
    height: 17px;
    margin-top: 30px;
    margin-left: 70px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    position: absolute; }
  .wrapper .arrow {
    width: 30%;
    height: 75px;
    background-color: #acd8ad;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    display: block; }
  .wrapper .arr_pos {
    line-height: 3.3em; }

@media (min-width: 640px) and (max-width: 979px) {
  .gallery .img__main {
    height: 346px; }
  .gallery .img__main_pic {
    height: 346px;
    background: url("../images/header-fon640.png"); }
  .gallery .text {
    width: 374px;
    height: 74px;
    font-size: 35px;
    top: 30px;
    left: 38px; }
  .gallery .address {
    font-size: 24px;
    top: 126px;
    left: 37px; }
  .wrapper {
    height: 150px; }
    .wrapper .img {
      height: 150px; }
    .wrapper .one {
      height: 150px;
      background: url("../images/Pizza delivery6402.png"); }
    .wrapper .two {
      height: 150px;
      background: url("../images/UA_UX Salads6402.png"); }
    .wrapper .three {
      height: 150px;
      background: url("../images/Desserts6402.png"); }
    .wrapper .img__text {
      margin-left: 100px;
      margin-top: 50px;
      font-size: 36px; }
    .wrapper .dessert {
      margin-left: 130px; }
    .wrapper .arrow {
      height: 150px;
      font-size: 40px; } }

@media (min-width: 980px) and (max-width: 1600px) {
  .gallery .img__main {
    height: 530px; }
  .gallery .img__main_pic {
    height: 530px;
    background: url("../images/header-fon980.png");
    background-size: cover; }
  .gallery .text {
    width: 581px;
    height: 117px;
    font-size: 54px;
    top: 64px;
    left: 30px; }
  .gallery .address {
    color: #a6d6e0;
    font-size: 34px;
    top: 238px;
    left: 30px; }
  .gallery .wrap980 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start; }
    .gallery .wrap980 .wrapper {
      width: 100%;
      height: 327px; }
      .gallery .wrap980 .wrapper .img {
        width: 100%;
        height: 327px; }
        .gallery .wrap980 .wrapper .img .one {
          height: 33.3%;
          background: url("../images/Pizza delivery 980.png"); }
        .gallery .wrap980 .wrapper .img .two {
          height: 33.3%;
          background: url("../images/UA_UX Salads980.png"); }
        .gallery .wrap980 .wrapper .img .three {
          height: 33.3%;
          background: url("../images/Desserts980.png"); }
    .gallery .wrap980 .arrow {
      display: none; }
    .gallery .wrap980 .img__text {
      width: auto;
      height: 34px;
      margin-top: 145px;
      margin-left: 42px;
      font-size: 38px; } }

@media (min-width: 1200px) and (max-width: 1600px) {
  .gallery .img__main {
    height: 649px; }
  .gallery .img__main_pic {
    height: 649px;
    background: url("../images/header-fon1200.png");
    background-size: cover; }
  .gallery .text {
    width: 650px;
    height: 125px;
    font-size: 62px;
    top: 58px;
    left: 37px; }
  .gallery .address {
    font-size: 38px;
    top: 236px;
    left: 37px; }
  .gallery .wrap980 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; }
    .gallery .wrap980 .wrapper {
      width: 100%;
      height: 400px; }
      .gallery .wrap980 .wrapper .img {
        width: 100%;
        height: 400px; }
        .gallery .wrap980 .wrapper .img .one {
          height: 33.3%;
          background: url("../images/Pizza delivery1200.png"); }
        .gallery .wrap980 .wrapper .img .two {
          height: 33.3%;
          background: url("../images/UA_UX Salads fon1200.png"); }
        .gallery .wrap980 .wrapper .img .three {
          height: 33.3%;
          background: url("../images/Desserts1200.png"); }
    .gallery .wrap980 .arrow {
      display: none; }
    .gallery .wrap980 .img__text {
      width: auto;
      height: 35px;
      margin-top: 183px;
      margin-left: 69px;
      font-size: 43px; } }

.list-item {
  width: 100%;
  height: auto;
  position: relative; }
  .list-item .menu_logo {
    width: 109px;
    height: 89px;
    position: absolute;
    right: 29px;
    top: -25px;
    display: none; }
  .list-item .header {
    width: 100%;
    font-size: 19px;
    color: #4c4d50;
    text-transform: uppercase;
    font-weight: normal;
    margin-top: 8px;
    margin-left: 20px; }
  .list-item .sub-header {
    width: 100%;
    font-size: 13px;
    font-weight: normal;
    color: #CBCCCE;
    margin-left: 20px;
    margin-top: 4px; }
  .list-item .titles {
    width: 100%;
    height: 38px;
    background: #acd8ad;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative; }
    .list-item .titles .titles-position {
      font-size: 19.5px;
      position: absolute;
      top: 12px;
      left: 22px; }
  .list-item .titles.colored {
    color: #acd8ad;
    background: #3f4043; }
  .list-item .sub-title {
    width: 100%;
    margin: 19px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative; }
    .list-item .sub-title .menu-dishes-type {
      width: 100%;
      height: auto;
      font-size: 15px;
      font-weight: normal;
      text-transform: uppercase; }
    .list-item .sub-title .icon {
      position: absolute;
      right: 25px; }
      .list-item .sub-title .icon .one {
        width: 25px;
        height: 25px; }
      .list-item .sub-title .icon .two {
        width: 13px;
        height: 24px; }
      .list-item .sub-title .icon .three {
        width: 30px;
        height: 21px; }
      .list-item .sub-title .icon .four {
        width: 21px;
        height: 20px; }
  .list-item .items {
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    justify-content: flex-start; }
    .list-item .items .item-name {
      margin-left: 19px;
      width: 84%;
      font-size: 13px; }
    .list-item .items .item-price {
      width: 16%;
      margin-left: 66px;
      font-size: 13px;
      font-weight: bold; }

.details {
  width: 100%;
  height: 19px;
  margin-top: 8px;
  margin-left: 19px;
  font-size: 9px; }

.footer {
  width: 100%;
  height: 55px;
  background: #acd8ad;
  margin-top: 31px;
  margin-bottom: 20px;
  position: relative; }
  .footer .footer_position {
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    position: absolute;
    top: 13px;
    left: 41px; }
  .footer .footer_logo {
    width: 104px;
    height: 83px;
    position: absolute;
    top: 8px;
    left: 64px;
    display: none; }

@media (min-width: 640px) and (max-width: 979px) {
  .list-item .header {
    font-size: 36px;
    margin-top: 45px;
    margin-left: 33px; }
  .list-item .sub-header {
    font-size: 20px;
    margin-left: 33px;
    margin-top: 9px; }
  .list-item .titles {
    height: 75px;
    margin-top: 46px;
    margin-bottom: 38px; }
    .list-item .titles .titles-position {
      margin-top: -5px;
      font-size: 36px;
      top: 28px;
      left: 38px; }
  .list-item .sub-title {
    width: 100%; }
    .list-item .sub-title .menu-dishes-type {
      width: 100%;
      font-size: 27px; }
    .list-item .sub-title .icon {
      position: absolute;
      right: 55px; }
    .list-item .sub-title .one {
      height: 48px;
      background: url("../images/Layer 11640.png"); }
    .list-item .sub-title .two {
      height: 48px;
      background: url("../images/Layer 9640.png"); }
    .list-item .sub-title .three {
      height: 42px;
      background: url("../images/Layer 10640.png"); }
    .list-item .sub-title .four {
      height: 42px;
      background: url("../images/Layer 8640.png"); }
  .list-item .items {
    margin-top: 42px; }
    .list-item .items .item-name {
      font-size: 27px; }
    .list-item .items .item-price {
      font-size: 27px; }
  .details {
    height: 37px;
    margin-top: 16px;
    font-size: 17.1px; }
  .footer {
    height: 97px;
    margin-top: 117px;
    margin-bottom: 32px; }
    .footer .footer_position {
      font-size: 18px;
      line-height: 1.5em;
      top: 28px;
      left: 139px; } }

@media (min-width: 980px) and (max-width: 1999px) {
  .wrapper-menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start; }
    .wrapper-menu .first-part {
      width: 50%;
      height: auto; }
    .wrapper-menu .second-part {
      width: 50%;
      height: auto; }
  .items {
    margin-top: 46px; }
    .items .item-name {
      font-size: 24px; }
    .items .item-price {
      font-size: 24px; }
    .items .details {
      height: 34px;
      margin-top: 17px;
      font-size: 16px; }
  .list-item .menu_logo {
    display: block; }
  .list-item .header {
    font-size: 33px;
    margin-top: 72px;
    margin-left: 30px; }
  .list-item .sub-header {
    font-size: 20px;
    margin-left: 30px;
    margin-top: 10px; }
  .list-item .sub-title {
    width: 95%; }
    .list-item .sub-title .menu-dishes-type {
      width: 95%;
      font-size: 19.6px; }
      .list-item .sub-title .menu-dishes-type .icon .one {
        height: 48px;
        background: url("../images/Layer 11 980.png"); }
      .list-item .sub-title .menu-dishes-type .icon .two {
        height: 48px;
        background: url("../images/Layer 9 980.png"); }
      .list-item .sub-title .menu-dishes-type .icon .three {
        height: 42px;
        background: url("../images/Layer 10 980.png"); }
      .list-item .sub-title .menu-dishes-type .icon .four {
        height: 42px;
        background: url("../images/Layer 8 980.png"); }
  .footer {
    height: 97px;
    margin-top: 84px;
    margin-bottom: 35px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end; }
    .footer .footer_position {
      width: 300px;
      height: 20px;
      font-size: 18px;
      text-align: right;
      position: absolute;
      top: 40px;
      left: 330px; }
      .footer .footer_position .move {
        width: 350px;
        height: 20px;
        position: absolute;
        top: 0;
        left: 270px; }
    .footer .footer_logo {
      display: block; } }

@media (min-width: 1200px) and (max-width: 1600px) {
  .wrapper-menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start; }
    .wrapper-menu .first-part {
      width: 50%;
      height: auto; }
    .wrapper-menu .second-part {
      width: 50%;
      height: auto; }
  .items {
    margin-top: 46px; }
    .items .item-name {
      font-size: 27px; }
    .items .item-price {
      font-size: 27px; }
    .items .details {
      height: 37px;
      margin-top: 16px;
      font-size: 17.5px; }
  .list-item .sub-title {
    width: 92%; }
    .list-item .sub-title .menu-dishes-type {
      width: 92%;
      font-size: 19.6px; }
      .list-item .sub-title .menu-dishes-type .icon .one {
        height: 48px;
        background: url("../images/Layer 111200.png"); }
      .list-item .sub-title .menu-dishes-type .icon .two {
        height: 48px;
        background: url("../images/Layer 91200.png"); }
      .list-item .sub-title .menu-dishes-type .icon .three {
        height: 42px;
        background: url("../images/Layer 101200.png"); }
      .list-item .sub-title .menu-dishes-type .icon .four {
        height: 42px;
        background: url("../images/Layer 81200.png"); }
  .list-item .menu_logo {
    display: block; }
  .list-item .header {
    font-size: 40px;
    margin-top: 72px;
    margin-left: 30px; }
  .list-item .titles {
    height: 75px;
    margin-top: 42px;
    margin-bottom: 38px; }
    .list-item .titles .titles-position {
      font-size: 26.1px;
      position: absolute;
      top: 23px;
      left: 18px; }
  .list-item .sub-header {
    font-size: 20px;
    margin-left: 30px;
    margin-top: 10px; }
  .footer {
    height: 97px;
    margin-top: 128px;
    margin-bottom: 35px;
    position: relative; }
    .footer .footer_position {
      width: 300px;
      height: 20px;
      font-size: 18px;
      text-align: right;
      position: absolute;
      top: 40px;
      left: 550px; }
      .footer .footer_position .move {
        width: 350px;
        height: 20px;
        position: absolute;
        top: 0;
        left: 270px; }
    .footer .footer_logo {
      display: block; } }
