@font-face {
    font-family: 'Myriad Pro Regular';
    src: url('../fonts/MyriadPro-Regular.otf');
    font-style: normal;
    font-weight: normal;
}
.layout {
    width: 1280px ;
    margin: 0 auto;
    font-family: "Myriad Pro Regular", sans-serif;
    font-size: 18px;
    color: #2C2C2C;
}
.header {
    padding: 20px;
    text-align: left;
}
.black{
    font-size: 80px;
    color: black;
}
.blue {
    font-size: 80px;
    color: #4BCAFF;
}
.menu-area {
    background-color: #35444F;
    height: 69px;
    text-align: center;
}
.hover1 {
    box-sizing: border-box;
    display: inline-block;
    height: 69px;
    padding: 25px 24px;
}
.hover1:hover {
    background-color: #222F3A;
    border-right: 1px solid #818181;
    border-left: 1px solid #818181;
    box-sizing: border-box;
    display: inline-block;
    height: 69px;
}
.menu-area .menu-text {
    list-style: none;
    display: inline-block;

}
.menu-text {
    color: #ffffff;
    font-size: 24px;
    word-spacing: 0.25em;
    text-align: center;
}
a {
    font-size: 24px;
    color: #ffffff;
    text-decoration: none;
    vertical-align: inherit;
    padding: 25px 24px;
}
.side-bar {
    display: inline-block;
    width: 344px;
    height: 346px;
    margin-top: 50px;
    padding: 0px;
    border: 3px solid lightgray;
    box-sizing: border-box;
}
.side-text a {
    display: inline-block;
    color: #495863;
    font-size: 30px;
    padding: 19px;
    text-decoration: none;
}
.hover2:hover {
    background-color: #DBDBDB;
    width: 300px;
}
.main {
    float: right;
    width: 885px;
    height: 529px;
    padding: 15px;
    box-sizing: border-box;
    border: 3px solid lightgray;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
}
.img.picture {
    width: 320px;
    height: 250px;
}
.picture {
    padding-top: 56px;
}
.text {
    color: #2C2C2C;
    font-size: 18px;
    text-align: left;
    line-height: 1.30em;
    position: absolute;
    top: 575px;
}
.brake {
    line-height: 35px;
}
.footer {
    clear: both;
    background-color: #63696E;
    width: 1280px;
    margin-top: 500px;
    margin-left: 73px;
    margin-bottom: 20px;
    position: relative;

}
.footer-ul {
    display: inline-block;
    width: 1280px;
    height: 69px;
    margin-left: 44px;
}
.footer li {
    display: inline-block;
    height: 26px;
    padding-left: 10px;
    padding-top: 12px;
}
.footer-text a {
    display: inline-block;
    float: left;
    color: #0C1927;
    font-family: "Myriad Pro Regular", sans-serif;
    font-size: 28px;
}
.copyright {
    color: #0d0d0d;
    font-family: "Myriad Pro Regular", sans-serif;
    font-size: 24px;
    position: absolute;
    bottom: 24px;
    right: 34px;

}
.footer-ul-copyright {
    display: inline-block ;
    width: 200px;
    height: 69px;
}
.hover3 {
    padding: 10px;

}
.hover3:hover {
    color: #3181A6;
    text-decoration: underline;
}